REF:
    https://spark.apache.org/docs/1.6.1/sql-programming-guide.html

In [1]:
import spark
from pyspark import SparkContext
from pyspark.sql import functions as F
from pyspark.sql.functions import col, split
from pyspark.sql import SQLContext
import json

In [2]:
sc = SparkContext("local","textfile")
sqlContext = SQLContext(sc)

In [3]:
filepath = "/home/saeed/Documents/spark_project/src/Businesses_London_0-1000_offset.json"
f = open(filepath,"r")
json_data = f.read()
response_list = json.loads(json_data)

In [4]:
# Remove the headers leaving only data we are interested in
# The headers in this case are the containers that house our data
# Look within the businesses header and extract the data within
# Data architecture
#    json file
#        [businesses - id, alias, name .... (very interested)
#         region - Not interested
#         total - Not interested
#        ]
#         ...
#        [businesses - id, alias, name .... (very interested)
#         region - Not interested
#         total - Not interested
#        ]
businesses_data_list = []
for response_data in response_list:
    for business_data in response_data["businesses"]:
        businesses_data_list.append(business_data)

businesses_data_list[:5]

[{'id': 'oK_SLmmAVQg3meguh7LrIA',
  'alias': 'dishoom-london',
  'name': 'Dishoom',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/4HC2FmxHZYzxqlqiRaeKCQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/dishoom-london?adjust_creative=ZwkqKwSASAVHCFsz3-oZmQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZwkqKwSASAVHCFsz3-oZmQ',
  'review_count': 1843,
  'categories': [{'alias': 'indpak', 'title': 'Indian'}],
  'rating': 4.5,
  'coordinates': {'latitude': 51.512447030091, 'longitude': -0.1269579217873},
  'transactions': [],
  'price': '££',
  'location': {'address1': "12 Upper Saint Martin's Lane",
   'address2': '',
   'address3': '',
   'city': 'London',
   'zip_code': 'WC2H 9FB',
   'country': 'GB',
   'state': 'XGL',
   'display_address': ["12 Upper Saint Martin's Lane",
    'London WC2H 9FB',
    'United Kingdom']},
  'phone': '+442074209320',
  'display_phone': '+44 20 7420 9320',
  'distance': 1112.4775110385249},
 {'id': 'YRA2VnhFLChIh1ZD31cXjg',
  'alias': 'the-british-museum-london',
  'name': 'The British Museum',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/TH9r0NXidmIvPXiA9F1_DQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/the-british-museum-london?adjust_creative=ZwkqKwSASAVHCFsz3-oZmQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZwkqKwSASAVHCFsz3-oZmQ',
  'review_count': 990,
  'categories': [{'alias': 'museums', 'title': 'Museums'}],
  'rating': 4.5,
  'coordinates': {'latitude': 51.518298, 'longitude': -0.126026},
  'transactions': [],
  'location': {'address1': 'Great Russell Street',
   'address2': '',
   'address3': '',
   'city': 'London',
   'zip_code': 'WC1B 3DG',
   'country': 'GB',
   'state': 'XGL',
   'display_address': ['Great Russell Street',
    'London WC1B 3DG',
    'United Kingdom']},
  'phone': '+442073238299',
  'display_phone': '+44 20 7323 8299',
  'distance': 1379.9711895431071},
 {'id': 'NPAkaFjtmDC8IKC60u5PAw',
  'alias': 'coca-cola-london-eye-london',
  'name': 'Coca Cola London Eye',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/ITElBJzYm_2QQXkQDJCRyQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/coca-cola-london-eye-london?adjust_creative=ZwkqKwSASAVHCFsz3-oZmQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZwkqKwSASAVHCFsz3-oZmQ',
  'review_count': 1019,
  'categories': [{'alias': 'landmarks',
    'title': 'Landmarks & Historical Buildings'}],
  'rating': 4.0,
  'coordinates': {'latitude': 51.503364, 'longitude': -0.11957},
  'transactions': [],
  'location': {'address1': 'Riverside Building',
   'address2': 'County Hall',
   'address3': 'Westminster Bridge Road',
   'city': 'London',
   'zip_code': 'SE1 7PB',
   'country': 'GB',
   'state': 'XGL',
   'display_address': ['Riverside Building',
    'County Hall',
    'Westminster Bridge Road',
    'London SE1 7PB',
    'United Kingdom']},
  'phone': '',
  'display_phone': '',
  'distance': 913.4271667509222},
 {'id': 'QXOrompG3b2o7g6P4ePb5w',
  'alias': 'tate-modern-london',
  'name': 'Tate Modern',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/MyDFgpXMo3qu2RF4_RvFZw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/tate-modern-london?adjust_creative=ZwkqKwSASAVHCFsz3-oZmQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZwkqKwSASAVHCFsz3-oZmQ',
  'review_count': 716,
  'categories': [{'alias': 'artmuseums', 'title': 'Art Museums'}],
  'rating': 4.0,
  'coordinates': {'latitude': 51.5078610102146,
   'longitude': -0.0991344451904297},
  'transactions': [],
  'location': {'address1': 'Bankside',
   'address2': '',
   'address3': '',
   'city': 'London',
   'zip_code': 'SE1 9TG',
   'country': 'GB',
   'state': 'XGL',
   'display_address': ['Bankside', 'London SE1 9TG', 'United Kingdom']},
  'phone': '+442078878888',
  'display_phone': '+44 20 7887 8888',
  'distance': 879.4615917863855},
 {'id': 'ElxBJGffVB-jV1kMCG9PbQ',
  'alias': 'the-national-gallery-london-2',
  'name': 'The National Gallery',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/Y2mDtEARDc8m4RLXstgorA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/the-national-gallery-london-2?adjust_creative=ZwkqKwSASAVHCFsz3-oZmQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZwkqKwSASAVHCFsz3-oZmQ',
  'review_count': 464,
  'categories': [{'alias': 'artmuseums', 'title': 'Art Museums'}],
  'rating': 4.5,
  'coordinates': {'latitude': 51.508929, 'longitude': -0.128302},
  'transactions': [],
  'location': {'address1': 'Trafalgar Square',
   'address2': '',
   'address3': '',
   'city': 'London',
   'zip_code': 'WC2N 5DN',
   'country': 'GB',
   'state': 'XGL',
   'display_address': ['Trafalgar Square',
    'London WC2N 5DN',
    'United Kingdom']},
  'phone': '+4420077472885',
  'display_phone': '+44 20077472885',
  'distance': 1171.2944150290637}]

In [5]:
len(businesses_data_list)

999

In [6]:
businesses_data_json = json.dumps(businesses_data_list)
#businesses_data_json

In [7]:
#data = json.load(open(filepath,"r"))
json_rdd = sc.parallelize([businesses_data_json])
#json_rdd.take(1)

In [8]:
df = sqlContext.read.json(json_rdd)

In [9]:
df.show()

+--------------------+--------------------+--------------------+----------------+------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------+-----+------+------------+------------+--------------------+
|               alias|          categories|         coordinates|   display_phone|          distance|                  id|           image_url|is_closed|            location|                name|         phone|price|rating|review_count|transactions|                 url|
+--------------------+--------------------+--------------------+----------------+------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------+-----+------+------------+------------+--------------------+
|      dishoom-london|  [[indpak, Indian]]|[51.512447030091,...|+44 20 7420 9320|1112.4775110385249|oK_SLmmAVQg3meguh...|https://s3-media2...|    false|[12 Upper Saint M...|             Dishoom| +442074209320|   ££|   4.5|        1843|          []|https://www.yelp....|
|the-british-museu...|[[museums, Museums]]|[51.518298, -0.12...|+44 20 7323 8299|1379.9711895431071|YRA2VnhFLChIh1ZD3...|https://s3-media4...|    false|[Great Russell St...|  The British Museum| +442073238299| null|   4.5|         990|          []|https://www.yelp....|
|coca-cola-london-...|[[landmarks, Land...|[51.503364, -0.11...|                | 913.4271667509222|NPAkaFjtmDC8IKC60...|https://s3-media3...|    false|[Riverside Buildi...|Coca Cola London Eye|              | null|   4.0|        1019|          []|https://www.yelp....|
|  tate-modern-london|[[artmuseums, Art...|[51.5078610102146...|+44 20 7887 8888| 879.4615917863855|QXOrompG3b2o7g6P4...|https://s3-media2...|    false|[Bankside, , , Lo...|         Tate Modern| +442078878888| null|   4.0|         716|          []|https://www.yelp....|
|the-national-gall...|[[artmuseums, Art...|[51.508929, -0.12...| +44 20077472885|1171.2944150290637|ElxBJGffVB-jV1kMC...|https://s3-media3...|    false|[Trafalgar Square...|The National Gallery|+4420077472885| null|   4.5|         464|          []|https://www.yelp....|
|gordons-wine-bar-...|[[wine_bars, Wine...|[51.5079411426091...|+44 20 7930 1408| 852.8501474925996|KGfryNuNH5mqYddLl...|https://s3-media3...|    false|[47 Villiers Stre...|   Gordon's Wine Bar| +442079301408|   ££|   4.5|         406|          []|https://www.yelp....|
|st-pauls-cathedra...|[[landmarks, Land...|[51.5137180425786...|+44 20 7246 8350| 935.4028622795371|mvs07Hrm2YrwObqDu...|https://s3-media2...|    false|[St Paul's Church...|St. Paul's Cathedral| +442072468350| null|   4.5|         298|          []|https://www.yelp....|
|    dishoom-london-7|  [[indpak, Indian]]|[51.513087, -0.13...|+44 20 7420 9322|1993.3853765562098|mc1KLbA1Sy4kUTKo0...|https://s3-media2...|    false|[22 Kingly Street...|             Dishoom| +442074209322|   ££|   4.5|         544|          []|https://www.yelp....|
|tower-of-london-l...|[[landmarks, Land...|[51.5083008269638...|+44 20 3166 6000| 2453.848510259892|v1Lpwqs75mmQ0ugug...|https://s3-media1...|    false|[Tower Hill, , , ...|     Tower of London| +442031666000| null|   4.5|         666|          []|https://www.yelp....|
|flat-iron-covent-...|[[steak, Steakhou...|[51.5108326561998...|+44 20 3019 4212| 883.1668412801378|vzJaHABdXQ154saZv...|https://s3-media4...|    false|[17-18 Henrietta ...|           Flat Iron| +442030194212|   ££|   4.5|         195|          []|https://www.yelp....|
|      big-ben-london|[[landmarks, Land...|[51.5007803427897...|+44 20 7219 4272| 1357.738791063498|N3k9B1iF7irRV5Blq...|https://s3-media1...|    false|[, , , London, GB...|             Big Ben| +442072194272| null|   4.5|         450|          []|https://www.yelp....|
|ye-olde-cheshire-...|[[pubs, Pubs], [b...|[51.5143449, -0.1...|+44 20 7353 6170| 579.3254393677668|-Ve2_hHfPczRX159x...|https://s3-media2...|    false|[145 Fleet Street...|Ye Olde Cheshire ...| +442073536170|   ££|   4.0|         353|          []|https://www.yelp....|
|tower-bridge-lond...|[[landmarks, Land...|[51.5054836850673...|+44 20 7403 3761|2540.6249862793497|lfy7mQ1E7vDiN1-Ra...|https://s3-media4...|    false|[Tower Bridge Roa...|        Tower Bridge| +442074033761| null|   4.5|         444|          []|https://www.yelp....|
|westminster-abbey...|[[churches, Churc...|[51.4993203344498...|+44 20 7222 5152|1607.2710492931965|P2FLtbOmyCDCq2Q7g...|https://s3-media3...|    false|[20 Dean's Yard, ...|   Westminster Abbey| +442072225152| null|   4.5|         358|          []|https://www.yelp....|
|hawksmoor-seven-d...|[[british, Britis...|[51.5134998914001...|+44 20 7420 9390|1065.9974871782088|0B-ag3J18TatG9H9E...|https://s3-media2...|    false|[11 Langley Stree...|Hawksmoor Seven D...| +442074209390|  £££|   4.5|         343|          []|https://www.yelp....|
|    dishoom-london-2|[[indpak, Indian]...|[51.5245310066818...|+44 20 7420 9324|2912.7134359100532|vlq4D26p_143Tj21O...|https://s3-media4...|    false|[7 Boundary Stree...|             Dishoom| +442074209324|   ££|   4.5|         493|          []|https://www.yelp....|
|     sketch-london-2|[[french, French]...|[51.5127614699071...|+44 20 7659 4500| 2111.812456594211|zJNI06Y2zZQFh9OBS...|https://s3-media2...|    false|[9 Conduit Street...|              Sketch| +442076594500|  £££|   4.0|         829|          []|https://www.yelp....|
|regency-café-lond...|    [[cafes, Cafes]]|[51.4940143171, -...|+44 20 7821 6596|2272.3426605373306|YNduANMPzIVE8CzBH...|https://s3-media1...|    false|[17-19 Regency St...|        Regency Café| +442078216596|    £|   4.5|         392|          []|https://www.yelp....|
|  hyde-park-london-2|    [[parks, Parks]]|[51.5039538036569...|+44 300 061 2114|2930.3199934836657|4VqbGRaYQJakPe2K6...|https://s3-media2...|    false|[,,, London, GB, ...|           Hyde Park| +443000612114| null|   4.5|         387|          []|https://www.yelp....|
|punjab-restaurant...|  [[indpak, Indian]]|[51.514992, -0.12...|+44 20 7836 9787| 1156.918117790777|lMVdwKmsxLgqczUXX...|https://s3-media1...|    false|[80 Neal Street, ...|   Punjab Restaurant| +442078369787|   ££|   4.0|         544|          []|https://www.yelp....|
+--------------------+--------------------+--------------------+----------------+------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------+-----+------+------------+------------+--------------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- alias: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- alias: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |-- coordinates: struct (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)
 |-- display_phone: string (nullable = true)
 |-- distance: double (nullable = true)
 |-- id: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- is_closed: boolean (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- address1: string (nullable = true)
 |    |-- address2: string (nullable = true)
 |    |-- address3: string (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- display_address: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- state: string (nullable = true)
 |    |-- zip_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- price: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- review_count: long (nullable = true)
 |-- transactions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- url: string (nullable = true)

In [11]:
#df.select("alias").show()
#df.select("categories").show()
df.select("price").show()

+-----+
|price|
+-----+
|   ££|
| null|
| null|
| null|
| null|
|   ££|
| null|
|   ££|
| null|
|   ££|
| null|
|   ££|
| null|
| null|
|  £££|
|   ££|
|  £££|
|    £|
| null|
|   ££|
+-----+
only showing top 20 rows